.container {
    background-color: var(--fundo-principal);
    font-family: var(--fonte-titulo);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    box-shadow: var(--sombra);
    color: var(--cor-texto);
}

.container h1 a {
    text-decoration: none;
    color: var(--cor-texto);
}

.container ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

.container u li {
    display: flex;
    flex-direction: row;
}

.container ul li a,
#dropdown li a  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--cor-texto);
}

.container ul li a::after {
    content: '';
    background-color: var(--destaques);
    width: 2px;
    height: 2px;
    border-radius: 100px;
    transition: 0.5s;
}

.container ul li a:hover::after {
    width: 100%;
}

span {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* #dropdown {
    background-color: var(--fundo-principal);
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 260px;
    gap: 20px;
    padding: 5px;
    border-radius: 3px;
    display: none;
}

#usuario span:hover #dropdown {
    display: block;
} */

#dropdown {
    background-color: var(--fundo-principal);
    box-shadow: var(--sombra);
    display: none;
    flex-direction: column;
    position: absolute;
    gap: 10px;
    padding: 10px;
    border-radius: 3px;
    z-index: 1000; 
  }
  
  #usuario:hover #dropdown {
    display: block;
  }
  
  #usuario {
    position: relative;
  }
  
  #dropdown li {
    list-style: none;
    padding: 8px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
