<div class="container">
    <h1><a routerLink="/conteudo">Alexandria</a></h1>
    <ul>
        <li><a routerLink="/conteudo">Home</a></li>
        <li><a>Livros</a></li>
      
  
      <ng-container *ngIf="!usuario; else logado">
        <span>
          <img src="log-in.svg" alt="">
          <li><a routerLink="/login">Entrar/Cadastrar</a></li>
        </span>
      </ng-container>
  
      <ng-template #logado>
        <span>
          <li id="usuario">
            <span>
                <img src="user.svg" alt="usuario">
                <a id="nome">Olá, {{ usuario?.nome }}</a>
            </span>
            <ul id="dropdown">
                <li><a routerLink="/pedido">Carrinho</a></li>
                <li><a routerLink="/">Meus dados</a></li>
                <li><a (click)="logout()" id="sair">Sair</a><img src="log-out.svg" alt="sair"></li>
            </ul>
          </li>
        </span>
      </ng-template>
  
    </ul>
  </div>