<div class="container">
    <h1><a routerLink="/conteudo">Alexandria</a></h1>
    <ul>
      <li><a>Livros</a></li>
  
      <ng-container *ngIf="!usuario; else logado">
        <span>
          <img src="log-in.svg" alt="">
          <li><a routerLink="/login">Entrar/Cadastrar</a></li>
        </span>
      </ng-container>
  
      <ng-template #logado>
        <span>
          <img src="user.svg" alt="">
          <li>
            <a>Olá, {{ usuario?.nome }}</a> |
            <a style="cursor: pointer;" (click)="logout()">Sair</a>
          </li>
        </span>
      </ng-template>
  
    </ul>
  </div>
  