<footer class="footer">
    <div class="footer-container">
        <div class="footer-info">
            <h3>Alexandria</h3>
            <p>O melhor lugar para encontrar livros de todos os gêneros. Desde clássicos até lançamentos!</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Alexandria. Todos os direitos reservados.</p>
    </div>
</footer>


<!-- link da imagem do banner: https://br.freepik.com/fotos-gratis/abstrato-blur-lindo-shopping-center-de-shopping-center_1241906.htm#fromView=search&page=1&position=2&uuid=932ea47b-89db-49a3-8111-aff74d3ac855&query=Livraria  criador: topnyp26-->
 <!-- site de icones: feathericons -->