<div class="banner">
    <div class="slogan">
        <h2>O melhor lugar para encontrar livros de todos os gêneros. Desde clássicos até lançamentos!</h2>
    </div>
</div>
<div class="container">
  @for (livro of listaLivro; track livro) {
    <div class="card">
        <img src="{{ livro.capa }}" alt="capa">
        <div class="info">
          <div class="linha">
            <span class="label">{{ livro.titulo}}</span>
            <span class="label">R${{ livro.valor}}</span>
          </div>
          <div class="linha">
            <span class="label">{{ livro.autor}}</span>
            <span class="label">{{ livro.editora}}</span>
          </div>
        </div>
        <button class="btn" [routerLink]="['/visualizar', livro.id]">Saber mais</button>
    </div>
  }
</div>