<div class="container">
    <div class="center" *ngIf="tem">
        @for (pedido of carrinho; track pedido) {
        <div class="pedido">
            <span>
                <img src="/{{ pedido.capa }}" alt="capa">
                <span>
                    <p>{{ pedido.titulo }}</p>
                    <span>
                        <p>Qtd: {{ pedido.qtd }}x</p>
                        <p>Valor: R${{ pedido.valor }}</p>
                    </span>
                </span>
            </span>
            <span>
                <button>Alterar</button>
                <button (click)="excluir(pedido.id!)">Excluir</button>
            </span>
        </div>
        }
    </div>
    <div class="sem" *ngIf="sem">
        <p>Carrinho vazio!</p>
    </div>
</div>