.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('/assets/banner2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.center {
    background-color: var(--fundo-principal);
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    box-shadow: var(--sombra);
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.pedido {
    display: flex;
    gap: 10px;
}

.pedido > span:nth-child(1) {
    display: flex;
    width: 750px;
    border: 2px solid #d5d5d5;
    align-items: center;
    border-radius: 5px;
    background-color: white;
}


.pedido > span:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedido > span img {
    height: 70px;
    width: 60px;
    padding: 10px 0 10px 10px;
}

.pedido > span > span {
    display: flex;
    align-items: center;
    width: calc(750px - 70px);
    justify-content: space-between;
    padding: 10px;
}

.pedido > span > span > span {
    display: flex;
    gap: 10px;
}

.pedido > span:nth-child(2) button {
    border: none;
    border: 2px solid #d5d5d5;
    border-radius: 5px;
    color: white;
    height: calc(50px - 2.5px);
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedido > span:nth-child(2) button:hover {
    transform: translateY(-5px);
}

.pedido > span:nth-child(2) > button:nth-child(1) {
    background-color: #F44336;
}

.pedido > span:nth-child(2) button img {
    height: 40px;
    width: 40px;
    padding: 5px;
}

.sem {
    background-color: var(--fundo-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    box-shadow: var(--sombra);
}

.sem > p {
    font-size: 1.5em;
}

.center > a {
    background-color: var(--primaria);
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-family: var(--fonte-texto);
    text-decoration: none;
    transition: 0.5s;
}

.center > a:hover {
    background-color: var(--segundaria);
}