<div class="container">
    <div class="center" *ngIf="tem">
        @for (pedido of carrinho; track pedido) {
        <div class="pedido">
            <span>
                <img src="/{{ pedido.capa }}" alt="capa">
                <span>
                    <p>{{ pedido.titulo }}</p>
                    <span>
                        <p>Qtd: {{ pedido.qtd }}x</p>
                        <p>Valor: R${{ pedido.valor }}</p>
                    </span>
                </span>
            </span>
            <span>
                <button (click)="excluir(pedido.id!)"><img src="trash-2.svg" alt=""></button>
            </span>
        </div>
    }
    <p>Total do carrinho: <span>R$ {{ total.toFixed(2) }}</span></p>
        <a routerLink="/livros">Voltar para os livros</a>
    </div>
    <div class="center" *ngIf="sem">
        <p>Carrinho vazio!</p>
        <a routerLink="/livros">Voltar para os livros</a>
    </div>
</div>