    .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--fundo-principal);
    background-image: url('/assets/banner.jpg');
    font-family: var(--fonte-texto);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  
  .login-box {
    background: #ffffff;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: var(--sombra);
    width: 340px;
    height: 400px;
    text-align: center;
    padding-right: 4rem;
  }
  
  .login-box h2 {
    margin-bottom: 2.5rem;
    color: var(--primaria);
    font-family: var(--fonte-titulo);
  }
  
  .login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 3rem;
    border: 1px solid var(--primaria);
    border-radius: 8px;
    font-size: 1rem;
    font-family: var(--fonte-texto);
    color: var(--cor-texto);
    
  }

  
  
  .login-box button {
    width: 360px;
    padding: 12px;
    background-color: var(--segundaria);
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--fonte-titulo);
    margin-top: 1.7rem;
  }
  
  .login-box button:hover {
    background-color: #a8841c; 
  }
  
  .cadastro-link {
    margin-top: 3rem;
    font-size: 1.1rem;
    color: var(--cor-texto);
  }
  
  .cadastro-link a {
    color: var(--primaria);
    text-decoration: none;
    font-weight: bold;
  }
  
  .cadastro-link a:hover {
    text-decoration: underline;
  }
  
  .erro-popup {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    border-radius: 8px;
    font-weight: bold;
    animation: aparecer 0.3s ease-in-out;
  }
  
  @keyframes aparecer {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  