<div class="cadastro-container">
  <div class="cadastro-box">
    <h2>Cadastro</h2>

    <form (ngSubmit)="cadastrar()">
      <input
        type="text"
        placeholder="Nome completo"
        [(ngModel)]="usuario.nome"
        name="nome"
        required
      />
      <input
        type="email"
        placeholder="E-mail"
        [(ngModel)]="usuario.email"
        name="email"
        required
      />
      <input
        type="password"
        placeholder="Senha"
        [(ngModel)]="usuario.senha"
        name="senha"
        required
      />
      <button type="submit">Cadastrar</button>
    </form>

    <p class="cadastro-link">
      Já tem uma conta? <a routerLink="/login">Fazer login</a>
    </p>
  </div>
</div>
