<div class="container">
  <div class="card">
    <div id="left">
      <img src="assets/banner.jpg" alt="capa">
    </div>
    <div id="right">
      <span>
        <p>{{livroEscolhido?.titulo}}</p>
        <p>{{livroEscolhido?.autor}}</p>
        <p>{{livroEscolhido?.editora}}</p>
      </span>
      <div class="sinopse">{{livroEscolhido?.sinopse}}</div>
      <p>Valor: R${{livroEscolhido?.valor}}<br><br>Quantidade estoque: {{livroEscolhido?.estoque}}</p>
      <form>
        <input type="number" [(ngModel)] = "pedido.qtd" required placeholder="Informe a quantidade..." name="quantidade">
        <button class="btn" (click)="submeter()"><img src="shopping-cart.svg" alt="carrinho" id="car"></button>
      </form>
    </div>
  </div>
</div>
<div class="err-popupLogin" *ngIf="errLogin">
  <p>Precisa estar logado para adicionar ao carrinho!</p>
</div>
<div class="err-popupQtd" *ngIf="errQtd">
  <p>Quantidade informada inválida!</p>
</div>
<div class="correct-popup" *ngIf="correctItem">
  <p>Item adicionado ao carrinho</p>
</div>