<div class="container">
    <div class="card">
        <div id="left">
            <img src="assets/banner.jpg" alt="capa">
        </div>
        <div id="right">
            <span>
                <p>titulo</p>
                <p>Autor</p>
                <p>editora</p>
            </span>
            <div class="sinopse">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est nemo mollitia perferendis sit error. Voluptas tempore aliquid ducimus explicabo magni provident natus quia vero! Corrupti, in est? Hic, laudantium tenetur?</div>
            <p>valor</p>
            <button class="btn">Adicionar ao carinho</button>
        </div>
    </div>
</div>